IMAPAccount icloud
Host imap.mail.me.com
User {{ .icloudUser }}
PassCmd "security find-generic-password -s mbsync-icloud -a {{ .icloudUser }} -w"
Port 993
TLSType IMAPS
AuthMechs PLAIN

IMAPStore icloud-remote
Account icloud

MaildirStore icloud-local
Path ~/Mail/icloud/
Inbox ~/Mail/icloud/INBOX
SubFolders Verbatim

Channel icloud
Far :icloud-remote:
Near :icloud-local:
Patterns "INBOX" "Archive" "Sent Messages" "Drafts" "Junk" "Deleted Messages"
Create Both
Expunge Both
SyncState *
