[accounts.icloud]
default = true
email = "{{ .personalEmail }}"
display-name = "Paulo Faria"
downloads-dir = "~/Downloads"
backend.type = "notmuch"
backend.db-path = "~/Mail"
backend.maildir-path = "~/Mail/icloud"
message.send.backend.type = "smtp"
message.send.backend.host = "smtp.mail.me.com"
message.send.backend.port = 587
message.send.backend.login = "{{ .icloudUser }}"
message.send.backend.encryption.type = "start-tls"
message.send.backend.auth.type = "password"
message.send.backend.auth.keyring = "icloud-smtp-passwd"
